<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      h1 {
        text-align: center;
        margin-top: 30px;
      }

      form {
        margin: 20px auto;
        width: 60%;
        text-align: center;
      }

      form label {
        display: block;
        margin-bottom: 10px;
      }

      form input[type="text"] {
        width: 80%;
        padding: 8px;
        margin-bottom: 20px;
      }

      form button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      th,
      td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      tr:hover {
        background-color: #f2f2f2;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short URL</title>
  </head>
  <body>
    <h1>URL SHORTENER</h1>
    <% if (locals.id) { %>
    <p>
      URL Generated:
      <a href="http://localhost:5000/url/<%= id %>"
        >http://localhost:5000/url/<%= id %></a
      >
    </p>
    <% } %>
    <form method="POST" action="/url/create">
      <label for="url">Enter Long URL</label>
      <input
        type="text"
        id="url"
        name="url"
        placeholder="https://example.com/slug/12345/abcdefgh?query=string"
      />
      <button type="submit">Generate Short URL</button>
    </form>

    <div>
      <% if (urls && urls?.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>S. No</th>
            <th>Short URLs</th>
            <th>Redirect URLs</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td>http://localhost:5000/url/<%=url.shortID %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.userVisitHistory.length %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
      <p>No data available</p>
      <% } %>
    </div>
  </body>
</html>
