<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      h1 {
        text-align: center;
        margin-top: 30px;
      }

      form {
        text-align: center;
        margin-top: 20px;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input[type="text"] {
        width: 80%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover {
        background-color: #0056b3;
      }

      table {
        width: 80%;
        margin: 20px auto;
        border-collapse: collapse;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }

      th,
      td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      tr:hover {
        background-color: #f2f2f2;
      }

      .logout-form {
        text-align: center;
        margin-top: 20px;
      }

      .logout-form button {
        padding: 10px 20px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .logout-form button:hover {
        background-color: #c82333;
      }

      .register-link {
        text-decoration: none;
        color: #007bff;
        font-size: 14px;
      }

      .register-link:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <% if (locals.id ) { %>
    <p>
      URL Generated:
      <a href="<%= url.baseUrl %>/url/<%= id %>"
        ><%= url.baseUrl %>/url/<%= id %></a
      >
    </p>
    <% } %>

    <div>
      <form method="POST" action="/url/create">
        <label for="url">Enter Your Original URL</label>
        <input
          type="text"
          id="url"
          name="url"
          placeholder="https://example.com"
        />
        <button type="submit">Generate</button>
      </form>
    </div>

    <div style="margin-top: 30px">
      <% if (locals.urls) { %>
      <table>
        <thead>
          <tr>
            <th>S. No</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
            <th>Created By</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= baseUrl %>/url/<%= url.shortID %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.userVisitHistory.length %></td>
            <td><%= url.createdBy.name %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
      <div class="logout-form">
        <form method="get" action="/user/logout">
          <button type="submit">Log Out</button>
        </form>
      </div>
    </div>
  </body>
</html>
